# Copy this file to config/qa.env and fill in values
ENV=qa
BASE_URL=https://ctflearn.com
API_BASE_URL=https://reqres.in/api

WEB_USERNAME=your_ctflearn_email@example.com
WEB_PASSWORD=YourPassword

API_EMAIL=eve.holt@reqres.in
API_PASSWORD=cityslicka

MOBILE_EMAIL=trader@example.com
MOBILE_PASSWORD=MobilePass@123

BROWSERSTACK_USERNAME=
BROWSERSTACK_ACCESS_KEY=
